# Babel extraction config for TaxOps i18n (I18N-1)
# Supported locales: en, es_MX
#
# Workflow:
#   Extract:  pybabel extract -F babel.cfg -o translations/messages.pot .
#   Init:     pybabel init -i translations/messages.pot -d translations -l es_MX
#   Update:   pybabel update -i translations/messages.pot -d translations
#   Compile:  pybabel compile -d translations

[python: **.py]
keywords = _ gettext ngettext lazy_gettext _t

[jinja2: templates/**.html]
keywords = _ gettext ngettext
